@model BabyMemory.Infrastructure.Models.NewsViewModel[];
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>News</h1>
    @if (User.IsInRole("Administrator"))
    {
        <a href="/News/AddNews" class="btn btn-info text-uppercase">Add News</a>
    }
</div>

@{
    System.Diagnostics.Debug.Assert(Model != null, nameof(Model) + " != null");
}

@foreach (var item in Model)
{
    <div class="post clearfix">
        <div class="user-block">
            <img class="img-circle img-bordered-sm" src="@item.Picture" alt="User Image">
            <span class="username">
                <b>@item.Name</b>
            </span>
        </div>

        <p>
            @item.Description
        </p>
        <p>
            @if (User.IsInRole("Administrator"))
            {
                <a href="/News/DeleteNews?id=@item.Id" class="btn-danger btn">Delete</a>
            }
        </p>
    </div>

   @* <div class="card-body">
        <div class="row-cols-auto">
            <b class="card-title">@item.Name</b>
        </div>

        <p class="card-text">
            @item.Description
        </p>
        

        @if (User.IsInRole("Administrator"))
        {
            <a href="/News/DeleteNews?id=@item.Id" class="btn-danger btn">Delete</a>
        }

    </div>*@
}

