@model ChildrenViewModel

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Children Profile</title>
</head>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">

                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img class="profile-user-img img-fluid img-circle" src="@Url.Content("~/Img/"+Model.Picture)" alt="User profile picture">
                        </div>
                        <h3 class="profile-username text-center">@Model.Name @Model.LastName</h3>

                        <ul class="list-group list-group-unbordered mb-3">
                            <li class="list-group-item">
                                <text>Age</text> <b class="float-right">@Model.Age</b>
                            </li>
                            <li class="list-group-item">
                                <text>Birthday</text> <b class="float-right">@Model.BirthDate.ToString("M")</b>
                            </li>

                        </ul>
                        <a href="/Memory/Add?childrenId=@Model.Id" class="btn btn-primary btn-block"><b>Add Memory</b></a>
                    </div>
                </div>


                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">About Me: Todo....</h3>
                    </div>

                    <div class="card-body">
                        <strong><i class="fas fa-book mr-1"></i> Education</strong>
                        <p class="text-muted">
                            B.S. in Computer Science from the University of Tennessee at Knoxville
                        </p>
                        <hr>
                        <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>
                        <p class="text-muted">Malibu, California</p>

                        <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>
                        <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- The time line -->
                                @foreach (var item in Model.Memories)
                                {
                                    <div class="timeline">
                                        <div class="time-label">
                                            <span class="bg-green">@item.CreationDate.ToString("D")</span>
                                            <img class="memory-img img-circle" src="@Url.Content("~/Img/"+item.Picture)" alt="...">
                                        </div>
                                        <div>
                                            <div class="timeline-item">
                                                <span class="time"><i class="fas fa-clock"></i>@item.CreationDate.ToString("t")</span>
                                                <h2 class="timeline-header"><b>@item.Name</b></h2>
                                                <div class="timeline-body">
                                                    @item.Description

                                                </div>
                                                <div class="timeline-footer">
                                                    <a class="btn btn-primary btn-sm" href="/Memory/Edit?id=@item.Id">Edit</a>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END timeline item -->
                                </div>
                                }
                            </div>
                            <!-- /.col -->
                        </div>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>